# POSTTEST 2 Kecerdasan Buatan

### Gempar Panggih Dwi Putra
### NIM 2009106022

## Dataset Premiere League Season 2007-2018

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
df = pd.read_csv("premiere-league.csv")

### SOAL 1
#### Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [ ]:
# Jumlah record
JumlahRec = len(df)
print(JumlahRec)

# Nama Attribute
namaAtr = list(df.columns)
print(namaAtr)

# Jumlah Attribute tipe Objek
jumlahAtrObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahAtrObjek)

# Jumlah Attribute tipe Angka
jumlahAtrAngka = len(df.dtypes[df.dtypes == 'int64'])
print(jumlahAtrAngka)

#Jumlah Attribute bernilai Null
df.isna().any().sum()

### SOAL 2
#### Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [ ]:
# Jumlah record
JumlahRec = len(df)

# Nama Attribute
namaAtr = list(df.columns)
namaAtr = ",\n".join(namaAtr)

# Jumlah Attribute tipe Objek
jumlahAtrObjek = len(df.dtypes[df.dtypes == 'object'])

# Jumlah Attribute tipe Angka
jumlahAtrAngka = len(df.dtypes[df.dtypes == 'int64'])

#Jumlah Attribute bernilai Null
jumlahAtrNull = df.isna().any().sum()

lib = {
    "Jumlah Record":[JumlahRec],
    "Nama Attribute" : [namaAtr],
    "Jumlah Attribute tipe Objek" : [jumlahAtrObjek],
    "Jumlah Attribute tipe Angka" : [jumlahAtrAngka],
    "Jumlah Attribute bernilai Null"  : [jumlahAtrNull],
    
}

tab = pd.DataFrame(lib)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

### SOAL 3
#### Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [ ]:
df.describe()

### SOAL 4
#### Tampilkan nilai korelasi attribute bertipe angka.

In [ ]:
df.corr()

### SOAL 5
#### Ubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [ ]:
df["home_goals"].head()

df["home_goals"] = df["home_goals"] * 0.01

df["home_goals"].head()

### SOAL 6  
#### Tampilkan 10 record pertama dari attribute bertipe angka.

In [ ]:
dfAtrAngka= df.select_dtypes(include=['float64','int64'])

dfAtrAngka.head(10)

### SOAL 7
#### Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [ ]:
dfAtrAngka.to_csv("Posttest2.csv", index=False)