# POSTTEST 2 Kecerdasan Buatan

### Gempar Panggih Dwi Putra
### NIM 2009106022

## Dataset Premiere League Season 2007-2018

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
df = pd.read_csv("premiere-league.csv")

### SOAL 1
#### Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [2]:
# Jumlah record
JumlahRec = len(df)
print(JumlahRec)

# Nama Attribute
namaAtt = list(df.columns)
print(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahAttObjek)

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])
print(jumlahAttAngka)

#Jumlah Attribute nilai Null
df.isna().any().sum()

4560
['home_team', 'away_team', 'home_goals', 'away_goals', 'result', 'season']
4
0

0

### SOAL 2
#### Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [3]:
# Jumlah record
JumlahRec = len(df)

# Nama Attribute
namaAtt = list(df.columns)
namaAtt = ",\n".join(namaAtt)

# Jumlah Attribute tipe Objek
jumlahAttObjek = len(df.dtypes[df.dtypes == 'object'])

# Jumlah Attribute tipe Angka
jumlahAttAngka = len(df.dtypes[df.dtypes == 'int64'])

#Jumlah Attribute nilai Null
jumlahAttNull = df.isna().any().sum()

kamus = {
    "Jumlah Record":[JumlahRec],
    "Nama Attribute" : [namaAtt],
    "Jumlah Attribute tipe Objek" : [jumlahAttObjek],
    "Jumlah Attribute tipe Angka" : [jumlahAttAngka],
    "Jumlah Attribute nilai Null"  : [jumlahAttNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+
|   Jumlah Record | Nama Attribute   |   Jumlah Attribute tipe Objek |   Jumlah Attribute tipe Angka |   Jumlah Attribute nilai Null |
|-----------------+------------------+-------------------------------+-------------------------------+-------------------------------|
|            4560 | home_team,       |                             4 |                             0 |                             0 |
|                 | away_team,       |                               |                               |                               |
|                 | home_goals,      |                               |                               |                               |
|                 | away_goals,      |                               |                               |                               |
|                 | result,          |                               |                               |                               |
|                 | season           |                               |                               |                               |
+-----------------+------------------+-------------------------------+-------------------------------+-------------------------------+

### SOAL 3
#### Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [4]:
df.describe()

        home_goals   away_goals
count  4560.000000  4560.000000
mean      1.543202     1.144298
std       1.315163     1.139824
min       0.000000     0.000000
25%       1.000000     0.000000
50%       1.000000     1.000000
75%       2.000000     2.000000
max       9.000000     7.000000

### SOAL 4
#### Tampilkan nilai korelasi attribute bertipe angka.

In [5]:
df.corr()

C:\Users\NITRO 5\AppData\Local\Temp\ipykernel_13456\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            home_goals  away_goals
home_goals    1.000000   -0.070151
away_goals   -0.070151    1.000000

### SOAL 5
#### Ubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [6]:
df["home_goals"].head()

df["home_goals"] = df["home_goals"] * 0.01

df["home_goals"].head()

0    0.01
1    0.01
2    0.02
3    0.02
4    0.03
Name: home_goals, dtype: float64

### SOAL 6  
#### Tampilkan 10 record pertama dari attribute bertipe angka.

In [7]:
dfAttAngka= df.select_dtypes(include=['float64','int64'])

dfAttAngka.head(10)

   home_goals  away_goals
0        0.01         1.0
1        0.01         1.0
2        0.02         1.0
3        0.02         1.0
4        0.03         0.0
5        0.03         2.0
6        0.03         1.0
7        0.02         0.0
8        0.05         1.0
9        0.03         0.0

### SOAL 7
#### Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [8]:
dfAttAngka.to_csv("Posttest2.csv", index=False)